---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="darkreader-lock"/>
		<title>Joseph Hanson</title>
		<!-- <script defer src="https://umi.hsn.dev/script.js" data-website-id="b7b6506d-9c97-4929-9b73-2ba84a740897"></script> -->
	</head>
	<body class="bg-slate-900 text-gray-100">
		<div class="mx-auto max-w-screen-lg px-3 py-6">
			<div
				class="flex flex-col gap-y-3 sm:flex-row sm:items-center sm:justify-between"
			>
				<a href="/">
					<img src="/favicon.svg" alt="logo" class="w-16 h-16" />
				</a>
				<nav>
					<ul class="flex gap-x-3 font-medium text-gray-200">
						<!-- <li class="hover:text-white">
							<a href="https://blog.hsn.dev" target="_self"
								>Blog</a
							>
						</li> -->
						<!-- <li class="hover:text-white">
							<a href="https://git.hsn.dev/jahanson" target="_self"
								>Forgejo</a
							>
						</li> -->
						<li class="hover:text-white">
							<a
								href="https://www.github.com/jahanson"
								target="_self">GitHub</a
							>
						</li>
						<li class="hover:text-white">
							<a
								href="https://infosec.exchange/@jahanson"
								target="_self"
								rel="me">Mastodon</a
							>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="mx-auto max-w-screen-lg px-3 py-6">
			<div
				class="flex flex-col items-center md:flex-row md:justify-between md:gap-x-24"
			>
				<div>
					<h1 class="text-3xl font-bold">
						Hey, I'm <span
							class="bg-gradient-to-br from-sky-500 to-cyan-400 bg-clip-text text-transparent"
							>Joseph Hanson</span
						>
						<p class="mt-6 text-xl leading-9">
							I'm a Web Application Developer that loves <span
								class="text-cyan-400">security</span
							>, <span class="text-cyan-400">kubernetes</span>, <span
								class="text-cyan-400">open source</span
							>, <span class="text-cyan-400">homelabbing</span>, <span
								class="text-cyan-400">hardware</span
							>, and <span class="text-cyan-400">networking</span
							>. I'm a huge advocate for open source and open
							standards! You can find me on <a
								class="text-cyan-400 hover:underline"
								href="https://infosec.exchange/@jahanson"
								>Mastodon</a
							>.
						</p>
					</h1>
				</div>
			</div>
		</div>
	</body>
</html>
